trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Release'

steps:

- task: DotNetCoreCLI@2
  inputs:
    command: restore
    projects: '*.sln'

- task: DotNetCoreCLI@2
  displayName: Build
  inputs:
    command: build
    projects: '*.sln'
    arguments: '--configuration $(BuildConfiguration) --no-restore'

- task: DotNetCoreCLI@2
  inputs:
    command: publish
    projects: 'src/Bet.AspNetCore.EventGrid.WebApp/Bet.AspNetCore.EventGrid.WebApp.csproj'
    publishWebProjects: True
    arguments: '--no-build --no-restore -f netcoreapp3.0 -r win-x86 --self-contained true /p:PublishTrimmed=true --configuration $(BuildConfiguration) --output $(Build.ArtifactStagingDirectory)/app'
    zipAfterPublish: True

- task: AzureWebApp@1
  inputs:
    azureSubscription: 'DreamSpark'
    appType: 'webApp'
    appName: 'bet-eventgrid'
    package: '$(Build.ArtifactStagingDirectory)/app/**/*.zip'
    deploymentMethod: 'auto'

- task: DotNetCoreCLI@2
  inputs:
    command: publish
    projects: 'src/Bet.AspNetCore.Func/Bet.AspNetCore.Func.csproj'
    publishWebProjects: True
    arguments: '--configuration $(BuildConfiguration) --output $(Build.ArtifactStagingDirectory)/func'
    zipAfterPublish: True

- task: AzureFunctionApp@1
  inputs:
    azureSubscription: 'DreamSpark'
    appType: 'functionApp'
    appName: 'bet-dream-func'
    package: '$(Build.ArtifactStagingDirectory)/func/**/*.zip'
    deploymentMethod: 'auto'
